#
# PHY drivers for Axiado platforms
#

config PHY_AXIADO_EMMC
	tristate "Axiado eMMC PHY driver"
	depends on OF && (ARCH_AXIADO || COMPILE_TEST)
	select GENERIC_PHY
	help
	  Enables this to support for the AXIADO EMMC PHY driver.
	  If unsure, say N.
